/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Plain light";
    src: url(Font-Family/plain-light-webfont.woff);
}

@font-face {
    font-family: "Plain light";
    src: url(Font-Family/plain-regular-webfont.woff);
}

@font-face {
    font-family: "Silk Serif";
    src: url(Font-Family/silkserif-regularitalic-webfont.woff);
}

@font-face {
    font-family: "Silk Serif";
    src: url(Font-Family/silkserif-lightitalic-webfont.woff);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Plain light";
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Shery JS ke mousefollower ko target krne ke liye */
.mousefollower {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    scale: 2;
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000;
    z-index: 99999;
    color: #fff;
    padding: 22vh 10vw;
}

#loader .line {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.3vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 4vw;
    font-family: "Silk Serif";
    font-weight: 100;
}

#line1-part1 h5 {
    width: 7vw;
    text-align: right;
}

#loader h1 {
    font-size: 6.5vw;
    font-weight: 600;
    text-transform: uppercase;
}

#loader h2 {
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#loader #waiting {
    font-size: 1vw;
    font-family: "Plain light";
    font-weight: 500;
    margin: 8vh 23vw;
}

@-webkit-keyframes fontChange {
    0% {
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

@keyframes fontChange {
    0% {
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

#hamburger {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
}

#main {
    position: relative;
    background-color: #151515;
    z-index: 99;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    /* z-index: 100; */
}

#page1 #nav {
    padding: 3.2vw 5.2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#nav-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2.7vw;
    position: fixed;
    z-index: 9999;
    top: 6%;
    left: 5%;
}

#nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2.3vw;
}

#nav-part2 h4 {
    font-style: 0.7vw;
    font-weight: 500;
}

.hero {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 28%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 999;
}

.hero:nth-child(2) {
    margin-top: 15vh;
}

.hero h1 {
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 500;
    position: relative;
}

#hero1 {
    overflow: visible;
}

#hero1::before {
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "Silk Serif";
    left: -18%;
    top: 0%;
}

#hero3 h2 {
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7vw;
    border-bottom: 0.4vw solid #fff;
    padding-bottom: 0.6vw;
    font-weight: 500;
}

#hero3 h2:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    border-bottom: 0.4vw solid #ffffff00;
}

#hero3 {
    position: relative;
    z-index: 999;
}

#flag {
    height: 28vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}


#page2 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 10vh 0;
    /* padding-top: 18vh; */
    padding-left: 28vw;
    position: relative;
    /* z-index: 102; */
    /* margin-top: 10vh; */
}

#play-crsr {
    height: 9.5vw;
    width: 9.5vw;
    border-radius: 50%;
    background-color: #FFA63D;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: -5%;
    left: 80%;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#play-crsr i {
    font-size: 2vw;
}

#page2 #video-container {
    height: 85%;
    width: 100%;
    position: relative;
    background-image: url("media/Showreel-2022-preview-1.webp");
    background-size: cover;
    background-position: center;
}

#page2 #video-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
}

#page2 #video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    /* padding-left: 28vw; */
}

#page3 #page3-div {
    padding-left: 28vw;
    padding-right: 6vw;
}

#page3-div h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page3-div h1::before {
    content: "02";
    position: absolute;
    font-family: "Silk Serif";
    font-size: 3vw;
    font-weight: 500;
    left: -15%;
    top: 9%;
}

#page3-div2 {
    /* background-color: red; */
    padding: 10vh 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2vw;
}

.image-div-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* background-color: grey; */
}

.image-div-container h3 {
    font-size: 2.2vw;
}

.hide {
    opacity: 0 !important;
}

.image-div {
    height: 40vw;
    width: 31vw;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* background-color: green; */
}

.image-div-type2 {
    height: 30vw;
    width: 23vw;
}

.image-div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    /* object-position: top; */
}

.bottom-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bottom-div h5 {
    font-size: 1vw;
    font-weight: 500;
    width: 50%;
}

.bottom-div h6 {
    font-size: 1vw;
    font-weight: 500;
    /* width: 50%; */
}

/* .underline-small {
    width: 0%;
    height: 0.2vh;
    background-color: #ffffffc4;
} */

.underline-small {
    width: 100%;
    height: 0.2vh;
    position: relative;
    --width: 0%;
}

.underline-small::after {
    content: "";
    width: var(--width);
    height: 0.2vh;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffffc4;
}

#box3 {
    margin-top: 15vh;
}

#box5 {
    margin-top: -23vh;
}

#box6 {
    margin-top: 7vh;
    margin-left: 2vw;
}

.page3-circle {
    width: 22vw;
    height: 22vw;
    overflow: hidden;
    border-radius: 50%;
    border: 0.1vw solid #ffffffd1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.page3-circle .circle-in {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    padding: 0 2vw;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.page3-circle .circle-in p {
    color: #000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* width: 90%; */
    font-size: 1vw;
    font-weight: 500;
    scale: 0;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.page3-circle1 {
    margin-top: 52vh;
    margin-left: 8vw;
}

.page3-circle1 svg {
    height: 14vh;
}

.page3-circle2 {
    margin-top: 2vh;
    margin-left: 1vw;
}

.page3-circle2 svg {
    height: 14vh;
    rotate: -45deg;
}

.page3-circle3 {
    margin-top: 60vh;
    margin-left: 7vw;
}

.page3-circle3 svg {
    height: 14vh;
    rotate: -90deg;
}

.page3-circle:hover .circle-in {
    scale: 1;
}

.page3-circle:hover .circle-in p {
    scale: 1;
    opacity: 1;
}

#page3-div3 {
    width: 100%;
    /* height: ; */
    padding: 15vh 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#page3-div3 .page3-circle4 {
    background-color: #FFA63D;
    border: none;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

#page3-div3 .page3-circle4 h5 {
    font-size: 1.1vw;
    font-weight: 500;
}

#page3-div3 .page3-circle4:hover {
    scale: 0.9;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-left: 28vw;
    padding-right: 6vw;
}

#page4 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    /* border-bottom: 0.1vw solid #ffffffb3; */
}

#page4 h1::before {
    content: "03";
    position: absolute;
    font-family: "Silk Serif";
    font-size: 3vw;
    font-weight: 500;
    left: -15%;
    top: 9%;
}

/* .underline {
    width: 0%;
    height: 0.2vh;
    margin-top: 13vh;
    background-color: #ffffffc4;
} */

.underline {
    width: 100%;
    height: 0.2vh;
    margin-top: 13vh;
    /* background-color: #000000c4; */
    position: relative;
    --width: 0%;
}

.underline::after {
    content: "";
    width: var(--width);
    right: 0;
    height: 0.2vh;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}


#page4 #firstH3 {
    margin-top: 3vw;
    font-size: 2.3vw;
    font-weight: 500;
    width: 56%;
}

#page4-container {
    padding-top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
    gap: 2.5vw;
}

#page4-container img {
    width: 32vw;
    height: 85vh;
    -o-object-fit: cover;
    object-fit: cover;
}

#para-holder {
    width: 19vw;
}

#para-holder p {
    font-size: 1vw;
    line-height: 1.4vw;
    /* font-weight: 600; */
}

#para-holder p:nth-child(2) {
    margin-top: 2vw;

}

#page4-list {
    background-color: #3F7DF4;
    width: 34vw;
    padding: 6vh 5vw;
    /* top: -10%; */
    /* Not working */
    /* left: 10%; */
    position: relative;
    margin-top: -30vh;
    margin-left: 23vw;
}

#page4-list .elem {
    height: 17vh;
    /* background-color: red; */
    border-bottom: 0.3vh solid #ffffffce;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* gap: 3vw; */
}

#page4-list .elem h3 {
    font-size: 1.4vw;
    width: 48%;
    font-weight: 500;
}

#page4-list .elem h4 {
    width: 45%;
    font-size: 1vw;
    font-weight: 500;
}

#page4 h5 {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 3vh;
}

#page5 {
    /* min-height: 100vh; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 12vh 0;
}

.page5-elem {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-bottom: 1vw; */
    /* position: relative; */
    /* width: 100%; */
    /* height: fit-content; */
    /* background-color: red; */
}

.page5-elem h1 {
    font-size: 7.5vw;
    line-height: 7.9vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    display: inline-block;
    margin-right: 1.6vw;
    /* margin-right: 16px; */
    -webkit-animation-name: moving;
    animation-name: moving;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.page5-elem span,
.page5-elem2 span {
    font-size: 7.2vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    font-style: italic;
    font-family: "Silk Serif";
}

.page5-elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-bottom: 1vw; */
}

.page5-elem2 h1 {
    font-size: 7.5vw;
    line-height: 7.9vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    display: inline-block;
    margin-right: 1.6vw;
    -webkit-transform: translateX(calc(-100% - 4px - 1.6vw));
    -ms-transform: translateX(calc(-100% - 4px - 1.6vw));
    transform: translateX(calc(-100% - 4px - 1.6vw));
    -webkit-animation-name: moving2;
    animation-name: moving2;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes moving {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(calc(-100% - 4px - 1.6vw));
        transform: translateX(calc(-100% - 4px - 1.6vw));
    }
}

@keyframes moving {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(calc(-100% - 4px - 1.6vw));
        transform: translateX(calc(-100% - 4px - 1.6vw));
    }
}

@-webkit-keyframes moving2 {
    from {
        -webkit-transform: translateX(calc(-100% - 4px - 1.6vw));
        transform: translateX(calc(-100% - 4px - 1.6vw));
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moving2 {
    from {
        -webkit-transform: translateX(calc(-100% - 4px - 1.6vw));
        transform: translateX(calc(-100% - 4px - 1.6vw));
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


#footer {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-left: 28vw;
    padding-right: 6vw;
    position: relative;
}

#footer h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    /* border-bottom: 0.1vw solid #ffffffb3; */
}

#footer h1::before {
    content: "04";
    position: absolute;
    font-family: "Silk Serif";
    font-size: 3vw;
    font-weight: 500;
    left: -15%;
    top: 9%;
}

#footer h1 i {
    -webkit-text-stroke: 0.1vw #ffffffbe;
    color: transparent;
    font-weight: 500;
    margin-left: 1vw;

}

#footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15vw;
    margin-top: 13vh;
}

#footer-div .box h5 {
    font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 3vh;
}

#footer-div .box h4 {
    font-size: 1.6vw;
    font-weight: 500;
}

#footer-div .box #mail {
    font-size: 1.6vw;
    font-weight: 500;
    text-decoration: underline;
}

#footer #footerH3 {
    margin-top: 6vh;
    font-weight: 500;
}


/* Very important for gooey effect */

._canvas_container {
    z-index: 999 !important;
    pointer-events: none;
}



/* Making it responsive */
@media (max-width: 600px) {
    #loader {
        padding: 35vh 5vw;
    }

    #loader .line {
        gap: 3vw;
    }

    #line1-part1 {
        gap: 1.3vw;
    }

    #line1-part1 h5,
    #line1-part1 h6 {
        font-size: 6.3vw;
        font-family: "Silk Serif";
        font-weight: 100;
    }

    #line1-part1 h5 {
        width: 10vw;
        text-align: right;
    }

    #loader h1 {
        font-size: 8vw;
        font-weight: 500;
    }

    #loader h2 {
        font-size: 6.2vw;
        font-weight: 500;
    }

    #loader #waiting {
        font-size: 3vw;
        margin: 6vh 0vw;
    }

    #hamburger {
        width: 100%;
        height: 100%;
        background-color: #000;
        padding: 25vh 5vw;
        position: fixed;
        top: -100vh;
        z-index: 999;
        display: none;
        /* opacity: 0; */
    }

    #hamburger h3 {
        font-size: 8vw;
        font-weight: 500;
        text-transform: uppercase;
    }

    #hamburger h5 {
        font-size: 5.2vw;
        font-weight: 500;
        margin-top: 35vh;
        margin-bottom: 1vh;
    }

    #hamburger a {
        font-size: 4vw;
        font-weight: 500;
    }

    #main {
        position: relative;
        background-color: #151515;
        z-index: 99;
    }

    #nav-part1 {
        width: 100%;
        padding-right: 10vw;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 0;
        top: 3%;
        left: 5%;
    }

    #nav-part1 svg:nth-child(2) {
        height: 2.7vh;
    }

    #page1 {
        height: 50vh;
        width: 100%;
        background-color: #151515;
        position: relative;
        /* z-index: 100; */
    }

    #page1 #nav {
        padding: 3.2vw 5.2vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    #nav-part2 {
        display: none;
    }

    .hero {
        margin-left: 5%;
    }

    .hero:nth-child(2) {
        margin-top: 20vh;
    }

    .hero h1 {
        font-size: 10vw;
        line-height: 10.3vw;
        letter-spacing: -0.5vw;
    }

    #hero1 {
        overflow: visible;
    }

    #hero1::before {
        content: "01";
        font-size: 5vw;
        left: 0%;
        top: -80%;
    }

    #hero3 h2 {
        font-size: 10vw;
        line-height: 10.3vw;
        letter-spacing: -0.5vw;
        border-bottom: 1vw solid #fff;
    }

    #hero3 h2:hover {
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        border-bottom: 0.4vw solid #ffffff00;
    }

    #flag {
        display: none;
    }

    #page2 {
        height: 50vh;
        padding: 0;
        padding-top: 7vh;
        padding-left: 0vw;
    }

    #play-crsr {
        height: 25vw;
        width: 25vw;
        top: 50%;
        left: 50%;
        z-index: 999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #play-crsr i {
        font-size: 6vw;
    }

    #page2 #video-container {
        height: 100%;
    }

    #page3 {
        padding-top: 13vh;
    }

    #page3 #page3-div {
        padding-left: 5vw;
        padding-right: 6vw;
    }

    #page3-div h1 {
        font-size: 10vw;
    }

    #page3-div h1::before {
        content: "02";
        font-size: 5vw;
        left: 0%;
        top: -80%;
    }

    #page3-div .underline {
        margin-top: 4vh;
    }

    #page3-div2 {
        padding: 0 5vw;
        padding-top: 8vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 6vh;
    }

    .image-div-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 3vh;
        width: 100%;
    }

    .image-div-container h3 {
        font-size: 5.2vw;
    }

    .hide {
        opacity: 0 !important;
    }

    .image-div {
        height: 90%;
        width: 100%;
    }

    .bottom-div h5 {
        font-size: 4vw;
        line-height: 5vw;
    }

    .bottom-div h6 {
        font-size: 4vw;
    }

    #box3 {
        margin-top: 0;
    }

    #box5 {
        margin-top: 0;
    }

    #box6 {
        margin-top: 0;
        margin-left: 0;
    }

    .page3-circle {
        width: 42vw;
        height: 42vw;
    }

    .page3-circle1 {
        display: none;
    }

    .page3-circle2 {
        display: none;
    }

    .page3-circle3 {
        display: none;
    }

    #page3-div3 {
        padding: 10vh 0;
    }

    #page3-div3 .page3-circle4 h5 {
        font-size: 3.1vw;
        font-weight: 500;
    }

    #page3-div3 .page3-circle4:hover {
        scale: 1;
    }

    #page4 {
        min-height: 100vh;
        padding-left: 5vw;
        padding-right: 6vw;
    }

    #page4 h1 {
        font-size: 10vw;
    }

    #page4 h1::before {
        content: "03";
        font-size: 5vw;
        left: 0%;
        top: -80%;
    }

    #page4 .underline {
        margin-top: 4vh;
    }

    #page4 #firstH3 {
        margin-top: 7vh;
        font-size: 6vw;
        line-height: 6.4vw;
        font-weight: 300;
        width: 100%;
    }

    #page4-container {
        padding-top: 5vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 5vh;
    }

    #para-holder {
        width: 88%;
    }

    #para-holder p {
        font-size: 4vw;
        line-height: 5vw;
        font-weight: 300;
    }

    #para-holder p:nth-child(2) {
        margin-top: 3vh;
    }

    #page4-container img {
        width: 100%;
        height: 65vh;
    }

    #page4-list {
        width: 100%;
        padding: 2vh 5vw;
        padding-bottom: 6vh;
        margin-top: -4vh;
        margin-left: 0vw;
    }

    #page4-list .elem {
        height: 12vh;
        border-bottom: 0.2vh solid #ffffffce;
    }

    #page4-list .elem h3 {
        font-size: 4vw;
        width: 37%;
        color: #ffffffce;
    }

    #page4-list .elem h4 {
        width: 50%;
        font-size: 3.8vw;
        color: #ffffffce;
    }

    #page4-div .underline {
        margin-top: 8vh;
    }

    #page4 h5 {
        font-size: 3vw;
        font-weight: 500;
        margin-top: 3vh;
    }


    #page5 {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 8vh 0;
    }

    .page5-elem h1 {
        font-size: 10.5vw;
        line-height: 10.9vw;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
    }

    .page5-elem span,
    .page5-elem2 span {
        font-size: 10.2vw;
    }

    .page5-elem2 h1 {
        font-size: 10.5vw;
        line-height: 10.9vw;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
    }

    #footer {
        min-height: 100vh;
        padding-top: 5vh;
        padding-left: 5vw;
        padding-right: 6vw;
    }

    #footer h1 {
        font-size: 10vw;
    }

    #footer h1::before {
        content: "04";
        font-size: 5vw;
        left: 0%;
        top: -80%;
    }

    #footer h1 i {
        margin-left: 1.5vw;
    }

    #footer .underline {
        margin-top: 4vh;
    }

    #footer-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5vh;
        margin-top: 7vh;
    }

    #footer-div .box h5 {
        font-size: 4.1vw;
        font-weight: 500;
        margin-bottom: 3vh;
    }

    #footer-div .box h4 {
        font-size: 5.8vw;
    }

    #footer-div .box #mail {
        font-size: 4.3vw;
    }

    #footer-div #second-underline2 {
        margin-top: 14vh;
    }

    #footer #footerH3 {
        margin: 6vh 0;
        font-size: 4vw;
        color: #ffffffce;
        font-weight: 500;
    }

}